<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/vue.js"></script>
    <title>Módulo1</title>
</head>
<body>
<div id="mydiv1">
    <p v-if="age > allowed">
        Yeah, You can go!
    </p>
    <p v-else-if="name === 'Goku'">
        You are too strong, but you can't go yet!
    </p>
    <p v-else>
    I am sorry, you can't go!
    </p>
    <h2> Using function:</h2>
    <p v-if="checkUser()">
        This warrior is the Prince Vegeta
    </p>
    <p v-else>
        This warrior is anybody
    </p>

</div>
<script>
    new  Vue({
        el:"#mydiv1",
        data:{
            age: 5,
            allowed: 18,
            name: 'Vegeta'
        },
        methods:{
            checkUser(){
                return this.name === 'Vegeta' ? true : false
            }
        }
    })
</script>
</body>
</html>