<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <title>Challenge 5</title>
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
  
        <div class="product">
        
          <div class="product-image">
            <img :src="image" />
          </div>
      
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <span v-if="onSale">On Sale!</span>
            <p><h2>Details</h2></p>
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>
            <p><h2>Color:</h2></p>
            <h3>
            <div v-for="variant in variants" :key="variant.variantId">
                <li @mouseover="updateProduct(variant.variantImage)">to buy
                    {{ variant.variantColor }}
                </li>
                <br>
            </div>
            </h3>
          </div>
        </div>
        <div class="cart">
            <p><h2>Cart({{ cart }})</h2></p>
        </div>
        <button @click="addToCart"><h3>To Buy</h3></button>
      </div> 
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            cart: 0,
            alttext: 'A pair of wonderful Socks',
            product: 'Socks',
            inStock: true,
            image: "https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg",
            onSale: true,
            details: ['80% cotton', '20% polyester', 'Gender-neutral'],
            variants: [
        {
            variantId: 2234,
            variantColor: 'green',
            variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg'    
        },
        {
            variantId: 2235,
            variantColor: 'blue',
            variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-blue-onWhite.jpg'
        }
        ]
        },
        methods:{
            updateProduct: function(variantImage){
                this.image = variantImage;
            },
            addToCart: function(){
                this.cart += 1;
            }
        } 
    })
    </script>
</body>
</html>
