<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <title>Trabalhando com listas</title>
</head>
<body>
    <div id="mydiv">
    <h2>Nomes ou Sobrenomes</h2>
    <ul>
        <li v-for="(nome, index) in lista_nomes">
            {{index}} {{nome}}
        </li>
        <input v-model='nome' v-on:keyup.enter="inserir">
        <button @click="inserir">Inserir novo nome</button>
    </ul>
    <br>
    <ul>
        <li v-for="pessoa in lista_pessoas">
            {{pessoa.nome}}, {{pessoa.idade}} anos
        </li>
    </ul>
    </div>
<script type="text/javascript">
new Vue({
    el:"#mydiv",
    data:{
        nome:'',
        idade:'',
        lista_nomes:[
            'Suelen',
            'Noob',
            'Simões',
            'Dunga',
            'Rafael',
            'Katrina',
            'Victor',
            'Megui'
        ],
        lista_pessoas:[
            {nome: 'Victor', idade: 25},
            {nome:'Suelen', idade: 23},
            {nome: 'Noob', idade: 2},
            {nome: 'Mel', idade: 200},
            {nome: 'Katrina', idade: '>1'},
            {nome: 'Dunga', idade: 6}
        ]
    },
    methods:{
        inserir: function(){
            if(this.nome !== ''){
                this.lista_nomes.push(this.nome);
                this.nome = '';
            },
        }
    }
})
</script>
</body>
</html>